beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
idna==3.7
joblib==1.4.2
lxml==5.2.2
nltk==3.8.1
regex==2024.5.15
requests==2.32.3
soupsieve==2.5
tqdm==4.66.4
urllib3==2.2.2
